<!DOCTYPE html>
<html lang="en">

<head>
  <title>E-Pharmacy - Panier</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>

<div class="site-wrap">


  <div th:replace="shared/header :: header"></div>

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="/">Acceuil</a> <span class="mx-2 mb-0">/</span>
          <strong class="text-black">Cart</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div th:if="${supprimerPanier}" class="alert alert-danger" role="alert">
        <i class="dripicons-checkmark me-2"></i>
        <strong th:text="${supprimerPanier}"></strong>
      </div>
      <div th:if="${panierVide}" class="alert alert-danger" role="alert">
        <i class="dripicons-checkmark me-2"></i>
        <strong th:text="${panierVide}"></strong>
      </div>
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Produit</th>
                <th class="product-price">Prix</th>
                <th class="product-quantity">Quantité</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Supprmier</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="entry : ${cartItems}">
                <td class="product-thumbnail">
                  <img th:src="@{/images/{imageFileName}(imageFileName=${entry.value.imageFileName})}" alt="Image" class="img-fluid">
                </td>
                <td th:text="${entry.value.name}" class="product-name">
                  <h2 class="h5 text-black" ></h2>
                </td>
                <td th:text="${entry.value.price}+'DHS'"></td>
                <td>
                  <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                    </div>
                    <input type="text" class="form-control text-center" value="1" placeholder=""
                           aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                    </div>
                  </div>

                </td>
                <td th:text="${entry.value.price}+'DHS'"></td>

                <td>
                  <a href="#" class="btn btn-primary height-auto btn-sm" th:onclick="'removeFromCart(' + ${entry.value.id} + '); return false;'">X</a>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6">
              <button class="btn btn-outline-primary btn-md btn-block" onclick="location.href='/medicaments'" >Continuer vos achats</button>
            </div>
          </div>

        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" th:text="${subtotal}+'DHS'"></strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" th:text="${total}+'DHS'"></strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary btn-lg btn-block" onclick="location.href='/checkout'">Passer Au
                    Paiement</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="shared/experts :: experts"></div>


  <div th:replace="shared/footer :: footer"></div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>
<script>
  function removeFromCart(itemId) {
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = `/cart/remove/${itemId}`;
    form.style.display = 'none';

    document.body.appendChild(form);
    form.submit();
  }
</script>

</body>

</html>