<!DOCTYPE html>
<html lang="en">

<head>
  <title>E-Pharmacy - Paiement</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <div class="site-wrap">


    <div th:replace="shared/header :: header"></div>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Paiement</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Informations personnelles</h2>
            <div class="p-3 p-lg-5 border">
              <table class="table site-block-commande-table mb-5">
                <thead>
                <th>Produit</th>
                <th>Total</th>
                </thead>
                <tbody>
                <tr th:each="entry : ${cartItems}">
                  <td th:text="${entry.value.name}"> <strong class="mx-2">x</strong> 1</td>
                  <td th:text="${entry.value.price}"></td>
                </tr>
                <tr>
                  <td class="text-black font-weight-bold"><strong>Panier Subtotal</strong></td>
                  <td class="text-black" th:text="${subtotal}"></td>
                </tr>
                <tr>
                  <td class="text-black font-weight-bold"><strong>Total commande</strong></td>
                  <td class="text-black font-weight-bold" th:text="${total}"><strong></strong></td>
                </tr>
                </tbody>
              </table>
    
            </div>
          </div>
          <div class="col-md-6">
    
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Votre commande</h2>
                <div class="p-3 p-lg-5 border">

    
                  <div class="border mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                        aria-expanded="false" aria-controls="collapsebank">à payer sur place à la pharmacie</a></h3>
    
                    <div class="collapse" id="collapsebank">
                      <div class="py-2 px-4">
                        <p class="mb-0">Le mode de paiement "à payer sur place" vous permet de régler vos achats directement à la livraison. Lors de la réception de votre commande, vous pouvez payer en espèces ou par carte bancaire. Ce mode de paiement est simple et sécurisé, sans frais supplémentaires.</p>
                      </div>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" onclick="location.href='/position'">Confirmer</button>
                  </div>
    
                </div>
              </div>
            </div>
    
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>


    <div th:replace="shared/experts :: experts"></div>


    <div th:replace="shared/footer :: footer"></div>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>