<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/Edit Medication</title>
</head>
<body>

<form th:action="@{/addmedication}" th:method="post" enctype="multipart/form-data">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{medication.name}" required/>
    </div>
    <div>
        <label>Description:</label>
        <input type="text" th:field="*{medication.description}" required/>
    </div>
    <div>
        <label>Image:</label>
        <input type="file" name="imageFile"/>
        <img th:if="${medication.imageFileName != null}" th:src="@{/images/{imageFileName}(imageFileName=${medication.imageFileName})}" alt="Image" width="100"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
