<!DOCTYPE html>
<html lang="en">

<head>
  <title>E-Pharmacy - Acceuil</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <div class="site-wrap">


    <div th:replace="shared/header :: header"></div>

    <div class="site-blocks-cover" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto commande-lg-2 align-self-center">
            <div class="site-block-cover-content text-center">
              <h2 class="sub-title">Un label qui prend soin de vous et de vos patients</h2>
              <h1>Bienvenue</h1>
              <p>
                <a href="#" class="btn btn-primary px-5 py-3">Achetez Maintenant</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Tendance Des Produits</h2>
          </div>
        </div>

        <div class="row">
          <div th:each="top6Medicament : ${top6Medicaments}" class="col-sm-6 col-lg-4 text-center item mb-4">
            <a th:href="@{/medicaments/{id}(id=${top6Medicament[0]})}"> <img th:src="@{/images/{imageFileName}(imageFileName=${top6Medicament[3]})}" alt="Image"></a>
            <h3 class="text-dark" th:text="${top6Medicament[1]}"><a href="shop-single.html"></a></h3>
            <p class="price" th:text="${top6Medicament[2]}+ ' DHS'"></p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 text-center">
            <a href="/medicaments" class="btn btn-primary px-4 py-3">Afficher Tout</a>
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Nouveaux Produits</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 owl-carousel">

              <div th:each="listLastmedicament : ${listLastmedicaments}" class="text-center item mb-4">
                <a th:href="@{/medicaments/{id}(id=${listLastmedicament[0]})}"> <img th:src="@{/images/{imageFileName}(imageFileName=${listLastmedicament[2]})}" alt="Image"></a>
                <h3 class="text-dark" th:text="${listLastmedicament[3]}"><a href="shop-single.html"></a></h3>
                <p class="price" th:text="${listLastmedicament[4]}+ ' DHS'"></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Testimonials</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 no-direction owl-carousel">
        
              <div class="testimony">
                <blockquote>
                  <img src="images/person_1.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                  <p>&ldquo;Super service ! J'ai pu commander mes médicaments en ligne et les récupérer à la pharmacie la plus proche sans aucun problème. Je recommande vivement !&rdquo;</p>
                </blockquote>

                <p>&mdash; Kelly Holmes</p>
              </div>
        
              <div class="testimony">
                <blockquote>
                  <img src="images/person_2.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                  <p>&ldquo;Service rapide et fiable. J'ai commandé mes médicaments et je les ai récupérés sans attendre. Bravo pour cette initiative !&rdquo;</p>
                </blockquote>
              
                <p>&mdash; Rebecca Morando</p>
              </div>
        
              <div class="testimony">
                <blockquote>
                  <img src="images/person_3.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                  <p>&ldquo;Très bon service client et un site facile à naviguer. J'apprécie particulièrement la carte qui indique la pharmacie la plus proche. Je suis très contente de ma première expérience.&rdquo;</p>
                </blockquote>
              
                <p>&mdash; Lucas Gallone</p>
              </div>
        
              <div class="testimony">
                <blockquote>
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                  <p>&ldquo;Ce site a révolutionné ma façon de commander des médicaments. Tout est simple et efficace. Les pharmacies partenaires sont très professionnelles.&rdquo;</p>
                </blockquote>
              
                <p>&mdash; Andrew Neel</p>
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>


    <div th:replace="shared/experts :: experts"></div>

    <div th:replace="shared/footer :: footer"></div>



  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>